.margin {
    /* margin-top: -158px; */
}

.gradient {
    /* background: rgb(113, 185, 198); */
    background: linear-gradient(to right, rgb(113, 185, 198), rgb(189, 225, 233));
}

#visiter {
    display: flex;
    padding: 20px;


}

#map {
    width: 600px;
    height: 450px;
}

.top {
    padding-top: 4.5rem;

}

.back {
    background: url(./img/photo-1582628138723-bb07fd456bea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;



}

.textarea {
    width: 100%;
    max-height: 170px;
    height: auto;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    color: black;
    overflow: auto;

}


@media (max-width: 575px) {
    .back {
        background: url(./img/photo-1582628138723-bb07fd456bea.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;



    }

    #map {
        width: 200px;
        height: 190px;
    }

    #visiter {
        padding: 20px;
        display: flex;
        flex-direction: column;

    }
}